<div *ngIf="sandwiches">
   <h1>Welkom bij den Travak</h1>
   <h2>Sandwiches</h2>
   <div class="sandwiches-list">
      <div class="sandwich" *ngFor="let sandwich of sandwiches" (click)="orderSandwich(sandwich)">
         <div class="sandwich-details">
            <p class="sandwich-name">{{ sandwich.name }}</p>
            <p class="sandwich-ingredients">{{ sandwich.ingredients }}</p>
         </div>

         <div class="sandwich-order">
            <p class="sandwich-price">{{ sandwich.price | currency:'EUR' }}</p>
         </div>
      </div>
   </div>
</div>