/* You can add global styles to this file, and also import other style files */
body {
    margin: 0 auto;
    width: 50%;
    background-color: hsl(0, 0%, 97%);
}

p {
    margin: 0;
    padding: 0;
}